{
  "database": {
    "host": "mariadb",
    "port": "3306",
    "db": "eqemu_login",
    "user": "eqemu_ls",
    "password": "CHANGE_ME_DB_PASSWORD"
  },
  "general": {
    "default_loginserver_name": "local",
    "eqemu_loginserver_address": "login.eqemulator.net:5999"
  },
  "account": {
    "auto_create_accounts": false
  },
  "worldservers": {
    "unregistered_allowed": true,
    "show_player_count": true,
    "dev_test_servers_list_bottom": true,
    "special_character_start_list_bottom": true,
    "reject_duplicate_servers": true
  },
  "web_api": {
    "enabled": true,
    "port": 6000
  },
  "security": {
    "mode": 14,
    "allow_password_login": true,
    "allow_token_login": false
  },
  "logging": {
    "trace": false,
    "world_trace": false,
    "dump_packets_in": false,
    "dump_packets_out": false
  },
  "client_configuration": {
    "titanium_port": 5998,
    "titanium_opcodes": "login_opcodes.conf",
    "sod_port": 5999,
    "sod_opcodes": "login_opcodes_sod.conf",
    "larion_port": 15900,
    "larion_opcodes": "login_opcodes_larion.conf",
    "display_expansions": true,
    "max_expansions_mask": 524287
  }
}
